In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import re
from datetime import datetime, date, time, timezone
import itertools

In [2]:
data = pd.read_csv('J:\Обучение в скилфактори/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1434,tt0383574,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Gore Verbinski,Jack is back!,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/2006,6.8,2006
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013
1376,tt0397101,43000000,91974818,The Skeleton Key,Kate Hudson|Gena Rowlands|Peter Sarsgaard|John...,Iain Softley,Fearing Is Believing,A hospice nurse working at a spooky New Orlean...,104,Drama|Horror|Mystery|Thriller,Universal Pictures|MFPV Film|Double Feature Fi...,7/29/2005,6.3,2005
1796,tt0881200,16000000,34786960,Ji jie hao,Hanyu Zhang|Ren Quan|Wang Baoqiang|Deng Chao|Y...,Feng Xiaogang,Assembly,Follows a soldier trying to gain recognition f...,124,Action|History,Huayi Brothers Media Corporation,10/9/2007,7.3,2007
965,tt0295254,40000000,18902015,FearDotCom,Stephen Dorff|Natascha McElhone|Stephen Rea|Ud...,William Malone,The last site you'll ever see.,"With four corpses on his hands, New York City ...",101,Horror|Thriller,Milagro Films|Franchise Pictures|DoRo Fiction ...,8/9/2002,3.3,2002

In [3]:
data.describe()  #общая оценка

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget              # Прибыль              
data[data['profit'] == data.profit.min()]                # Наибольший убыток №7                 
pd.to_datetime(data['release_date'])
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:

data.original_title[data['budget'] == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = 'Winnie the Pooh (tt0279111)'

data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [15]:
answers['4'] = 110  # из таблицы ниже пересечение граф 'mean' и 'runtime'

data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = 107  #  также  из предидущего решения

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

Profit_max_ = data[data['profit'] == data.profit.max()]  # Максимальная прибыль 
Profit_max_

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [18]:
# код вынесен в Предобработку что в начале
answers['7'] = 'The Lone Ranger (tt1210819)'

data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
print(data.imdb_id[data['profit'] > 0].count())  # Считаем фильмы, имеющие положительную прибыль

answers['8'] = 1478

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = 'The Dark Knight (tt0468569)'

data[data['profit'] == data[(data.release_year == 2008)].profit.max()]
# фильтруем фильмы, сначала по 2008 году, затем

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [21]:
answers['10'] = 'The Lone Ranger (tt1210819)'

data[data['profit'] == data[(data.release_year >= 2012) & \
                    ((data.release_year <= 2014))].profit.min()]
# ранжируем по периоду с 2012 по 2014 г.,включительно, и ищем минимальное значение profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

w0 = list((Counter(data.genres.str.split('|').sum()).items()))   # получаем в серии подсчет фильмов по жанрам
w0.sort(key=lambda i: i[1])   #  Сортируем серию по количеству фильмов по жанрам
for i in w0: genre_max = i    #  Выносим в печать название жанра  и его подсчет в фильмотеке
print(genre_max)

answers['11'] = 'Drama'

('Drama', 782)

ВАРИАНТ 2

In [23]:
print(Counter(data.genres.str.split('|').sum()).most_common(1))

answers['11'] = 'Drama'

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
profit_plus=data[data['profit'] > 0]    # ищем плюсовой profit в dataframe
w1 = list(Counter(profit_plus.genres.str.split('|').sum()).items())  #  формируем строки по жанру, удаляем '|'
w1.sort(key=lambda i: i[1])                                          #  считаем количество по жанрам и сортируем
for i in w1: genre_max = i   #  Выносим в печать название наиболее прибыльного жанра
print(genre_max)

answers['12'] = 'Drama'

('Drama', 560)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
director_renev = pd.Series(data.director.str.split('|').sum())\
             .value_counts(ascending=False)  #  формируем серию по режисерам, удаляем '|'
for direct in director_renev.index:
     director_renev[direct] = data['revenue'][data['director']\
             .map(lambda x: True if direct in x else False)].sum()  # подсчитываем объем кассовых сборов по режисерам
print(director_renev[director_renev.values == director_renev.values. max()]) # определяем директора с наибольшими 
                                                                            # кассовыми сборами
answers['13'] = 'Peter Jackson'

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
Data_action = data[data.genres.str.contains("Action")]  #  выбираем боевики
Data_action1 = Data_action['director'].apply(lambda s: str(s).split('|')) # в строках столбца'director' знак |
Direct_action = Data_action1.explode('director').value_counts()          # вставляем сформированный перечень  и считаем
print(Direct_action.head(5))
answers['14'] = 'Robert Rodriguez'

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
data_2012 = data[data.release_year == 2012].copy()  # собрали датафрейм за 2012г  
data_2012['cast'] = data_2012['cast'].str.split('|')  # преобразовать строковые переменные  в списках
data_count = data_2012.explode('cast')  # преобразуем элементы списка в строки и реплицируем индексы
# выбираем самые прибыльные фильмы года по актерам
sum_cast = data_count.groupby('cast').revenue.sum().sort_values(0, ascending=False) 
print(sum_cast[sum_cast.values == sum_cast.values.max()])
answers['15'] = 'Chris Hemsworth'

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
sum_cast = data[data.budget > data.budget.mean()].copy(deep=True)
sum_cast['cast'] = sum_cast['cast'].str.split('|')  # преобразовать строковые переменные  в списках
data_count = sum_cast.explode('cast')
sum_cast = pd.Series(data_count.cast).value_counts().sort_values(0, ascending=False) 
print(sum_cast.head(1))
answers['16'] = 'Matt Damon'

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:

NCage =data[data.cast.str.contains('Nicolas Cage')]  # выборка фильмов с участием Nicolas 
gen_count = list(Counter(NCage.genres.str.split('|').sum()).items())  #разделение и подсчет по жанрам
gen_count.sort(key=lambda i: i[1])  # сортировка по значениюпо жанрам
for i in gen_count: genre_max = i  # поиск максимального участия по жанрам
print(genre_max)

answers['17'] = 'Action'

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
Par_Pic = data[data.production_companies.str.contains('Paramount Pictures')]  # выборка фильмов Paramount Pictures
lossFilm = Par_Pic[Par_Pic['profit'] == Par_Pic.profit.min()]  #  выбор самого убыточного фильма
print(lossFilm['original_title'].values[0])  # вывод результата

answers['18'] = 'K-19: The Widowmaker'

K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
best_year = data.groupby('release_year').revenue.sum().sort_values(0,ascending=False)  # выбор самого кассового фильма
print (best_year[best_year.idxmax()],'----', best_year.idxmax(),'год')  # вывод результата

answers['19'] = '2015 год'

25449202382 ---- 2015 год

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
Warner_Br = data[data['production_companies'].str.contains('Warner Bros')]\
.groupby(['release_year'])['profit'].sum() # выбираем фильмы 'Warner Bros' и группируем  по 'release_year', суммируем
print ('лучшая прибыль -',Warner_Br[Warner_Br.idxmax()],'$  в', Warner_Br.idxmax(),'г')

answers['20'] = '2014 год'

лучшая прибыль - 2295464519 $  в 2014 г

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
data['month'] = pd.to_datetime(data.release_date).dt.month # разносим по месяцам
print(data['month'].value_counts().head(3))                # подсчитываем
answers['21'] = 'Сентябрь'

9     227
12    190
10    186
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
print('Вышло фильмов за летние месяцы', data['month'][(data['month'] >5) & (data['month'] < 9)].value_counts().sum())
 #  выбираем фильмы за летние месяцы и подсчитываем
answers['22'] = '450'

Вышло фильмов за летние месяцы 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
data = pd.read_csv('J:\Обучение в скилфактори/movie_bd_v5.csv')
data =data.copy()
# преобразуете строку в список и забираете из него первый элемент (месяц)
data['month'] = data['release_date'].str.split('/').apply(lambda x: x[0])
data.director = data.director.str.split('|')
data_winter = data.explode('director')  #  формируем перечень 'director' без знаков '/' и '|'
winter_director = data_winter[data_winter['month'].isin(['1','2','12'])]  #  выбираем фильмы за зимний сезон
best_winter_direct = winter_director.director.value_counts()              #  подсчитываем по режисерам за это время
print(best_winter_direct)

answers['23'] = 'Peter Jackson'

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Martin Scorsese      4
                    ..
Philip Kaufman       1
Joel Gallen          1
Rusty Cundieff       1
Antoine Fuqua        1
John Polson          1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
data_Name = data.copy()
data_Name['production_companies'] = data_Name['production_companies'].str.split('|')
data_Name = data_Name.explode('production_companies')  #  формируем перечень 'production_companies' без знака '|'
data_Name['lenght'] = data_Name['original_title'].str.len() # подсчитываем количество символов по строкам
 # сгруппируем по названию компаний ('production_companies'), определим среднее количество символов и  сортируем значения
Len_Name = data_Name.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False) 
print(Len_Name.idxmax())   # выбираем максимальное среднее количество символов в названиях фильмов у компаний,
                           #  выводим соответствующую компанию
answers['24'] = 'Four By Two Productions'

lenght    Four By Two Productions
dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
Data_words = data.overview.str.split(' ')   # формируем списки слов в названиях фильмов
data_Name['lenght'] = Data_words.str.len()   # считаем количество слов в названиях
 # сгруппируем по названию компаний ('production_companies'), определим среднее количество слов и  сортируем значения
Long_Name = data_Name.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False) 
print(Long_Name.idxmax())

answers['25'] = 'Midnight Picture Show'

lenght    Midnight Picture Show
dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
 # выбираем  фильмы, входящие в первый процент с лучшим рейтингом
Vote_1pers = pd.Series(data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)\
                      ['vote_average']]['original_title'])
print(Vote_1pers.sort_values(ascending=False))  # сортируем  

answers['26'] = 'The Wolf of Wall Street, The Pianist, The Lord of the Rings: The Return of the King,\
Inside Out, The Imitation Game, The Grand Budapest Hotel, The Dark Knight, 12 Years a Slave'

1183                          The Wolf of Wall Street
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
125                                The Imitation Game
138                          The Grand Budapest Hotel
599                                   The Dark Knight
34                                               Room
1800                                          Memento
118                                      Interstellar
9                                          Inside Out
370                                         Inception
119                           Guardians of the Galaxy
128                                         Gone Girl
1191                                 12 Years a Slave
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [39]:
from collections import Counter
from itertools import combinations
pairs = Counter()                           # содали пустой счетчик
for i in range(0,len(data)):
    cast_ = data.cast[i].split('|')         # переформируем перечни актеров по фильмам
    for j in list(combinations(cast_, 2)):  # перебираем пары актеров по фильмам
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1                   # считаем количество повторений пар в DataFrame()


answers['27'] = '(Daniel Radcliffe, Rupert Grint), (Daniel Radcliffe, Emma Watson)'

pairs.most_common(10)    # коллекция наиболее часто встречающихся элементов, в порядке убывания встречаемости

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

# Submission

In [40]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt0279111)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015 год',
 '20': '2014 год',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Wolf of Wall Street, The Pianist, The Lord of the Rings: The Return of the King,Inside Out, The Imitation Game, The Grand Budapest Hotel, The Dark Knight, 12 Years a Slave',
 '27': '(Daniel Radcliffe, Rupert Grint), (Daniel Radcliffe, Emma Watson)'}

In [41]:
# и убедиться что ни чего не пропустил)
len(answers)

27